In [1]:
import pandas as pd

In [3]:
fruits = pd.Series([10,6,3],['apples','oranges','banana'])
fruits

apples     10
oranges     6
banana      3
dtype: int64

In [4]:
fruits + 2

apples     12
oranges     8
banana      5
dtype: int64

In [5]:
fruits - 2

apples     8
oranges    4
banana     1
dtype: int64

In [6]:
import numpy as np

fruits

apples     10
oranges     6
banana      3
dtype: int64

In [7]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
banana     1.732051
dtype: float64

In [8]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
banana        20.085537
dtype: float64

In [9]:
np.power(fruits,2)

apples     100
oranges     36
banana       9
dtype: int64

In [10]:
fruits

apples     10
oranges     6
banana      3
dtype: int64

In [11]:
fruits['banana'] + 2

5

In [12]:
fruits.iloc[0] -2

8